{
  "storage": {
    "type": "s3",
    "config": {
      "bucket": "kopia-tests",
      "endpoint": "s3.us-west-001.backblazeb2.com",
      "accessKeyID": "0015177976679d80000000007",
      "secretAccessKey": "K00141KTAiSwG2NKUGOw13rWotgYnMQ",
      "sessionToken": "",
      "roleARN": "",
      "sessionName": "",
      "duration": "0s",
      "roleEndpoint": "",
      "roleRegion": ""
    }
  },
  "caching": {
    "cacheDirectory": "../../Caches/kopia/c374837c5c55f331",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "mac",
  "username": "amrk",
  "description": "Repository in S3: s3.us-west-001.backblazeb2.com kopia-tests",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}